# .coveragerc to control coverage.py
[run]
omit =
    pytest_splunk_addon/standard_lib/*/test_templates.py
    pytest_splunk_addon/standard_lib/cim_compliance/base_report.py
    pytest_splunk_addon/standard_lib/cim_compliance/base_table.py
    pytest_splunk_addon/standard_lib/cim_tests/base_schema.py
    pytest_splunk_addon/standard_lib/event_ingestors/base_event_ingestor.py
    pytest_splunk_addon/standard_lib/addon_basic.py

[report]
exclude_lines =
    if __name__ == .__main__.:
