__pycache__/
*.py[cod]
*$py.class
.Python
build/
develop-eggs/
dist/
eggs/
.eggs/
*.egg-info/
.installed.cfg
*.egg
*.manifest
!tests/e2e/addons/*/app.manifest
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*,cover
.hypothesis/
.pytest_cache
pytest_splunk_addon.log
splunksplwrapper.log
!tests/e2e/addons/*/.log
docs/_build/
/site/
!deps/build
.vscode
test_report.md
.idea/
.python-version
*.pickle
*_events.lock
*_events
.venv
.DS_Store