#
# Copyright 2026 Splunk Inc.
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.
#
site_name: Pytest Splunk Addon
site_author: Splunk
site_url: "https://splunk.github.io/pytest-splunk-addon/"
edit_uri: "tree/main/docs/"
remote_branch: gh-pages

repo_name: Pytest Splunk Addon
repo_url: "https://github.com/splunk/pytest-splunk-addon"

markdown_extensions:
  - toc:
      permalink: True
      toc_depth: 3
  - smarty
  - fenced_code
  - sane_lists
  - codehilite
  - pymdownx.superfences
  - pymdownx.snippets

plugins:
    - mkdocstrings:
        handlers:
            python:
                setup_commands:
                    - import sys
                    - sys.path.append('../')
                selection:
                    new_path_syntax: true
                options:
                  inherited_members: false

theme:
  name: "material"
  palette:
    primary: "black"
    accent: "orange"
  features:
    - content.code.copy
    - navigation.indexes
    - navigation.expand

nav:
  - Home: "index.md"
  - How to use: "how_to_use.md"
  - Common Tests: "common_tests.md"
  - CIM Compatibility Tests: "cim_tests.md"
  - CIM Compliance Report: "cim_compliance.md"
  - Knowledge Object Tests: "field_tests.md"
  - Index Time Tests: "index_time_tests.md"
  - Requirement Tests: "requirement_tests.md"
  - Data Generator: "sample_generator.md"
  - API Documentation:
      - API Overview: "api_reference/api_reference.md"
      - AddonParser: "api_reference/addon_parser.md"
      - CimTests: "api_reference/cim_tests.md"
      - FieldsTests: "api_reference/fields_tests.md"
      - IndexTimeTests: "api_reference/index_time_tests.md"
      - AppTestGenerator: "api_reference/app_test_generator.md"
      - DataGenerator: "api_reference/sample_generation.md"
      - EventIngestor: "api_reference/event_ingestion.md"
      - CimComplianceReport: "api_reference/cim_compliance_report.md"
  - Contributing: "contributing.md"
  - Troubleshooting: "troubleshoot.md"
  - Release Notes: "release_notes.md"
