[tool.poetry]
name = "pytest-splunk-addon"
version = "0.0.0"
description = "A Dynamic test tool for Splunk Apps and Add-ons"
authors = ["rfaircloth-splunk <rfaircloth@splunk.com>"]
license = "APACHE-2.0"
classifiers = [
        "Framework :: Pytest",
        "Intended Audience :: Developers",
        "Topic :: Software Development :: Testing",
        "Programming Language :: Python",
        "Programming Language :: Python :: 3.7",
        "Operating System :: OS Independent",
        "License :: OSI Approved :: Apache Software License",
]
include = ["pytest_splunk_addon/**/*.json", "pytest_splunk_addon/**/*.txt"]

[tool.poetry.dependencies]
httplib2 = "*"
python = "^3.7"
pytest = ">5.4.0,<6.3"
splunk-sdk = "^1.6"
requests = "^2"
splunk_appinspect = "^2"
jsonschema = "^3.2"
faker = ">=4.1,<8.0"
pytest-xdist = "*"
filelock = "^3.0"
pytest-ordering = "*"
lovely-pytest-docker = { version="^0", optional = true }
junitparser = "<2.0.0"


[tool.poetry.extras]
docker = ['lovely-pytest-docker']

[tool.poetry.dev-dependencies]
poetry-dynamic-versioning = "0.12.3"
sphinx_rtd_theme = "0.5.1"
sphinx-panels = "*"
lovely-pytest-docker = "*"
pytest-mock = "^3.5.1"
pytest-cov = "^2.11.1"
requests-mock = "^1.8.0"
recordtype = "^1.3"

[tool.poetry.plugins]
pytest11 = { plugin = "pytest_splunk_addon.plugin", "splunk" = "pytest_splunk_addon.splunk" }

[tool.poetry.scripts]
cim-report = 'pytest_splunk_addon.standard_lib.utilities.junit_parser:main'
generate-indextime-conf = 'pytest_splunk_addon.standard_lib.utilities.create_new_eventgen:main'


[tool.poetry-dynamic-versioning]
enable = true

[build-system]
requires = ["poetry>=1.0.2", "poetry-dynamic-versioning"]
build-backend = "poetry.masonry.api"
