#COPYRIGHT SPLUNK, Inc 2020

version: 2.1
orbs:
  go: circleci/go@0.2.0
  splunk-app-test:
    executors:
      python37:
        docker:
          - image: circleci/python:3.7
    commands:
      test_aio:
        parameters:
          splunk_version:
            description: Image version
            type: string
            default: latest
        steps:
          - run:
              name: Setup for testing
              command: |
                pip install git+https://github.com/pixelb/crudini        
                mkdir test-results
          - run:
              name: Splunk up
              command: |
                ls -l deps/build/addonfactory_test_matrix_splunk/splunk_matrix.conf
                export SPLUNK_VERSION=$(crudini --get deps/build/addonfactory_test_matrix_splunk/splunk_matrix.conf "<<parameters.splunk_version>>" VERSION)
                SPLUNK_APP_PACKAGE=tests/addons/TA_fiction SPLUNK_ADDON=TA_fiction docker-compose -f docker-compose-ci.yml build
                SPLUNK_PASSWORD=Chang3d! docker-compose -f docker-compose-ci.yml up -d splunk
                sleep 90
          - run:
              name: Test
              when: always
              command: |
                SPLUNK_PASSWORD=Chang3d! docker-compose -f docker-compose-ci.yml up --abort-on-container-exit
                docker volume ls
              no_output_timeout: 1h
          - run:
              name: collect results
              when: always
              command: |
                docker volume ls
                docker container create --name dummy \
                                    -v project_results:/work/test-results \
                                    registry.access.redhat.com/ubi7/ubi
                docker cp dummy:/work/test-results/test.xml test-results/
    jobs:
      test_aio:
        parameters:
          splunk_version:
            description: Image version
            type: string
            default: latest
        executor: python37
        steps:
          - checkout
          - run: git submodule sync
          - run: git submodule update --init
          - setup_remote_docker:
              docker_layer_caching: true
          - test_aio:
              splunk_version: <<parameters.splunk_version>>
          - store_artifacts:
              path: test-results
              destination: test-results
          - store_test_results:
              path: test-results


jobs:
  release:
    docker:
      - image: circleci/node:11
    steps:
      - checkout
      - run: npx semantic-release

  publish-pypi:
    docker:
      - image: circleci/python:3.7
    steps:
      - checkout
      - restore_cache:
          keys:
            - poetry-cache-{{ checksum "poetry.lock" }}
      - run:
          name: Install Tools
          command: |
            curl -sSL https://raw.githubusercontent.com/python-poetry/poetry/master/get-poetry.py | python
      - run:
          name: Build
          command: |
            #
            source $HOME/.poetry/env
            poetry install
            poetry run poetry-dynamic-versioning
            poetry publish --build -u $PYPI_USERNAME -p $PYPI_TOKEN
      - save_cache:
          key: poetry-cache-{{ checksum "poetry.lock" }}
          paths:
            - ~/.poetry
      - store_artifacts:
          path: dist
      - persist_to_workspace:
          # Must be an absolute path, or relative path from working_directory. This is a directory on the container which is
          # taken to be the root directory of the workspace.
          root: .
          # Must be relative path from root
          paths:
            - dist

workflows:
  build:
    jobs:
      - splunk-app-test/test_aio:
          name: test-splunk-8-0
          splunk_version: "8.0"
          filters:
            branches:
              only: /.*/
      - splunk-app-test/test_aio:
          name: test-splunk-7-3
          splunk_version: "7.3"
          filters:
            branches:
              only: /.*/
      - splunk-app-test/test_aio:
          name: test-splunk-7-2
          splunk_version: "7.2"
          filters:
            branches:
              only: /.*/
      - release:
          requires:
            - test
          context:
            - gdi-github

  publish:
    jobs:
      - publish-pypi:
          context:
            - gdi-pypi      
          filters:
            branches:
              ignore: /.*/
            tags:
              only: /^v\d*\.\d*\.\d*.*$/
