2020-06-23T00:00:00.000Z host=##host_token## ##token_list_all## Test for uf_file monitor host is event
2020-06-23T02:00:00.000Z host=##host_token## ##token_list_all## Test for uf_file monitor host is event