name: Review FLAKE8

on: [pull_request]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Set up OS=${{ matrix.os }}::Python=${{ matrix.python-version }}::Splunk=${{ matrix.splunk-version }}
      uses: actions/setup-python@v1
      with:
        python-version: 3.7
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt
        pip install -r requirements_dev.txt
        pip install .
    - name: Install FLAKE8
      run: |
        pip install flake8

    - name: Run flake8 on your PR - with annotations!
      uses: suo/flake8-github-action@v1
      with:
        checkName: Review FLAKE8